@import "../setup/config.scss";

#company{
  margin-top:70px;
.company{
  padding: 80px 0;
  .content{
    .txt{
      text-align: center;
      color: $b3;
      @include fz(17);
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 1.412;
      padding-bottom: 60px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        width: calc((100% - 39px)/ 3);
        margin-right: 19.5px;
        padding-bottom: 20px;
        &:nth-of-type(3n){
          margin-right: 0;
        }
        a{
          display: block;
          border-bottom: 1px solid $n2;
          padding: 7px 0 10px;
          position: relative;
          min-height: 60px;
          transition: .1s cubic-bezier(0.77,0,0.18,1);
          &:after{
            content: "";
            display: block;
            width: 12px;
            height: 13px;
            position: absolute;
            right: 14px;
            bottom: 12px;
            background: url('../dist/image/icon_ar01.svg') no-repeat;
            background-size: 100%;
            transition: .3s cubic-bezier(0.77,0,0.18,1);
            transform: rotate(90deg);
          }
          dl{
            color: $n2;
            padding-left: 10px;
            dt{
              @include fz(20);
              font-family: $fm;
              font-weight: 500;
              letter-spacing: 0.01em;
              line-height: 1;
              padding-bottom: 5px;
            }
            dd{
              @include fz(13);
              font-weight: 500;
              letter-spacing: 0.01em;
              line-height: 1.154;
            }
          }
          @include mq(pc) {
            &:hover{
              border-bottom: 3px solid $n2;
              // opacity: .6;
              &:after{
                transform: translateY(4px) rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
  @include mq(){
    padding: 40px 0;
    .content{
      .txt{
        text-align: left;
        @include fz(14);
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 1.6;
        padding-bottom: 40px;
      }
      ul{
        li{
          width: calc((100% - 15px)/ 2);
          margin-right: 15px;
          padding-bottom: 20px;
          &:nth-of-type(2n){
            margin-right: 0;
          }
          &:nth-of-type(3n){
            margin-right: 15px;
          }
          a{
            padding: 2px 0 8px;
            min-height: 42px;
            &:after{
              width: 11px;
              height: 12px;
              right: 5px;
              bottom: 7px;
            }
            dl{
              padding-left: 3px;
              dt{
                @include fz(15);
                padding-bottom: 6px;
              }
              dd{
                @include fz(10);
              }
            }
          }
        }
      }
    }
  }
}

.stance{
  padding: 100px 0;
  background: $we;
  .content{
    ul{
      li{
        counter-increment: count01;
        position: relative;
        padding-left: 46px;
        &:before{
          content: counter(count01);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          color: $n2;
          @include fz(20);
          font-family: $fm;
          font-weight: 500;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border: 1px solid $n2;

        }
        div{
          @include fz(17);
          font-weight: 500;
          letter-spacing: 0.01em;
          line-height: 2.588;
        }
      }
    }
  }
  @include mq(){
    padding: 50px 0;
    .content{
      ul{
        li{
          padding-left: 43px;
          padding-bottom: 19px;
          &:before{
            width: 30px;
            height: 30px;
            @include fz(18);
            top: 0;
            left: 0;
            transform: none;
          }
          div{
            @include fz(16);
            line-height: 1.625;
          }
        }
      }
    }
  }
}

.message{
  padding: 100px 0;
  .content{
    .txt{
      padding-bottom: 35px;
      p{
        line-height: 1.733;
        padding-bottom: 1em;
      }
    }
    .ceo{
      text-align: right;
      @include fz(17);
      letter-spacing: 0.01em;
    }
  }
  @include mq(){
    padding: 50px 0;
    .content{
      .txt{
        padding-bottom: 25px;
        p{
          line-height: 1.8;
          padding-bottom: 1em;
        }
      }
      .ceo{
        @include fz(14);
      }
    }
  }
}

.members{
  padding: 100px 0;
  background: $we;
  .content{
    > div{
      .member{
        display: flex;
        margin-bottom: 62px;
        .img{
          min-width: 203px;
          margin-right: 73px;
        }
      }
      dl{
        > dt{
          position: relative;
          color: $n2;
          margin-bottom: 12px;
          &::before{
            content: "";
            display: block;
            width: 3px;
            height: calc(100% + 8px);
            background: $n3;
            position: absolute;
            left: -23px;
          }
          .name{
            @include fz(24);
            letter-spacing: 0.01em;
            padding-bottom: 11px;
            span{
              display: inline-block;
              margin-left: 18px;
              @include fz(20);
              font-family: $fm;
              letter-spacing: 0.02em;
            }
          }
          .ttl{
            @include fz(13);
            letter-spacing: 0.01em;
            line-height: 1.692;
          }
        }
        > dd{
          &.txt{
            letter-spacing: 0.01em;
            line-height: 1.733;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #bebebe;
          }
          &.note{
            dl{
              display: flex;
              color: $g5;
              @include fz(13);
              letter-spacing: 0.01em;
              line-height: 1.769;
              dt{
                width: 30px;
                margin-right: 18px;
                margin-bottom: 0;
                &::before{
                  content: none;
                }
              }
            }
          }
        }
      }
    }
  }
  @include mq(){
    padding: 50px 0;
    .content{
      > div{
        .member{
          flex-direction: column;
          align-items: center;
          margin-bottom: 51px;
          .img{
            min-width: 150px;
            max-width: 150px;
            margin-right: 0px;
            margin-bottom: 24px;
          }
        }
        dl{
          padding-left: 15px;
          > dt{
            margin-bottom: 20px;
            &::before{
              height: calc(100% + 8px);
              left: -23px;
            }
            .name{
              @include fz(20);
              padding-bottom: 8px;
              span{
                margin-left: 10px;
                @include fz(16);
              }
            }
            .ttl{
              @include fz(11);
            }
          }
          > dd{
            &.txt{
              letter-spacing: 0.01em;
              line-height: 1.733;
              padding-bottom: 20px;
              margin-bottom: 20px;
              border-bottom: 1px solid #bebebe;
            }
            &.note{
              dl{
                display: flex;
                color: $g5;
                @include fz(13);
                letter-spacing: 0.01em;
                line-height: 1.769;
                dt{
                  width: 30px;
                  margin-right: 18px;
                  margin-bottom: 0;
                  &::before{
                    content: none;
                  }
                }
              }
            }
          }
        }
      }
    } 
  }
}

.group{
  padding: 100px 0;
}

.overview{
  padding: 96px 0 120px;
  background: $we;
}

}