@import "../setup/config.scss";

#top{
// background: $wf4;
.mv{
  margin-top: 70px;
  .content{
    position: relative;
    background: $wf;
    width: calc(1180 / 1300 * 100%);
    height: calc(575 / 1300 * 100%);
    padding: 0;
    animation: mvContent 2.4s ease-out forwards;
    .cover{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% + 1px);
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
      text-align: center;
      animation: slideCover 3.4s ease-out forwards;
      .bg{
        width: 100%;
        height: 100%;
        background: $wf;
        position: absolute;
        z-index: 1;
        // &.anime{
        //   opacity: 1;
        //   transition: .8s ease-out;
        //   transition-delay: 2.2s;
        //   &.animeOn{
        //     opacity: 0;
        //   }
        // }
        // animation: slideCover 2.8s ease forwards;
      }
      img{
        opacity: 0;
        max-width: 548px;
        z-index: 2;
        animation: slideCoverTxt01 2.8s ease-out forwards;
        &:nth-of-type(2){
          animation: slideCoverTxt02 1.7s 1s ease-out forwards;
        }
      }
    }
    .line{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      &::before{
        content: "";
        position: absolute;
        top: 37.3%;
        left: 55%;
        display: block;
        width: calc(110 / 2360 * 100%);
        height: calc(10 / 1148 * 100%);
        background: $yf;
        overflow: hidden;
        animation: slideLine 2.8s 2.6s ease-out forwards infinite;
      }
      &.anime{
        transition-delay: 2.8s;
      }
    }
    .aboutUs{
      display: none;
      width: 100%;
      max-width: 436px;
      padding: 16px 0 0 25px;
      position: absolute;
      bottom: -30px;
      right: 0px;
      background: $wf4;
      p{
        padding-bottom: 14px;
        color: $b3;
        @include fz();
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: .04em;
      }
      // &.anime{
      //   transition-delay: 2s;
      //   transform: translateY(20px);
      //   &.animeOn{
      //     opacity: 1;
      //     transform: none;
      //   }
      // }
    }
    .mvSlide{
      .slick-slide{
        line-height: 1;
      }
      img{
        width: 100%;
      }
    }
    button{
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      border-radius: 0;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    .slide-dots{
      text-align: left;
      position: absolute;
      bottom: 10px;
      left: 10px;
      li{
        display: inline-block;
        margin: 0 12px;
        button{
          position: relative;
          text-indent: -9999px;
          &:before{
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $wf;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
          }
        }
        &.slick-active{
          button:before{
            background: $yf3;
          }
        }
      }
    }
  }
  @include mq(){
    margin-top: 60px;
    .content{
      padding: 0;
      width: 100%;
      height: calc(87vw * 0.75);
      .cover{
        width: 100%;
        height: 100%;
        height: calc(87vw * 0.75);
        top: 0;
        transform: translate(-50%,0);

        .bg{
          width: 100%;
          height: 100%;
          background: $wf;
          position: absolute;
          z-index: 1;
        }
        img{
          width: 100%;
          padding: 0 20px;
        }
      }
      .line{
        width: 100%;
        height: calc(87vw * 0.75);
        &::before{
          top: 37.6%;
          left: 56.5%;
          width: calc(50 / 750 * 100%);
          height: calc(8 / 1148 * 100%);
          animation: slideLineSp 2.8s 2.6s ease-out forwards infinite;
        }
      }
      .aboutUs{
        position: relative;
        width: calc(100% - 50px);
        max-width: none;
        padding: 16px 27px 0;
        margin: -15px auto 0;
        right: auto;
        bottom: auto;
        transform: none;
        p{
          padding-bottom: 8px;
          @include fz(14);
          font-weight: 400;
          line-height: 1.6;
          letter-spacing: .01em;
        }
      }
      .mvSlide{
        .slick-slide{
          // height: 100%;
          height: calc(87vw * 0.75);
        }
        img{
          width: 100%;
          height: 100%;
          height: calc(87vw * 0.75);
          object-fit: cover;
        }
      }
      .slide-dots{
        bottom: 15px;
        left: 0;
        li{
          margin: 0 9px;
          button{
            &:before{
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
  }
}

.news{
  padding: 65px 0 80px;
  ul{
    li{
      padding-bottom: 22px;
      // a{
      //   @include mq(pc){
      //     &:hover{
      //       dl dt .type{
      //         color: $yf;
      //       }
      //       dl dd {
      //         opacity: 0.6;
      //       }
      //     }
      //   }
      // }
      dl{
        display: flex;
        align-items: baseline;
        dt{
          display: flex;
          align-items: baseline;
          .date{
            width: calc(95 / 167 * 100%);
            min-width: 95px;
          }
          .type{
            width: calc(72 / 167 * 100%);
            min-width: 72px;
            padding: 1px 13px;
            color: $wf;
            @include fz(11);
            font-weight: 500; 
            letter-spacing: .08em;
            background: $n2;
            word-break: keep-all;
            transition: .4s ease;
          }
        }
        dd{
          width: calc(713 / 880 * 100%);
          padding-left: 22px;
          letter-spacing: .01em;
          line-height: 1.6;
          transition: .4s ease;
        }
      }
    }
  }
  @include mq(){
    padding: 167px 0 50px;
    ul{
      li{
        padding-bottom: 25px;
        dl{
          flex-direction: column;
          dt{
            justify-content: space-between;
            width: 100%;
            max-width: 145px;
            padding-bottom: 8px;
            .date{
              width: calc(67 / 145 * 100%);
              min-width: 67px;
            }
            .type{
              width: calc(66 / 145 * 100%);
              min-width: 66px;
              padding: 0 12px;
              color: $wf;
              @include fz(10);
            }
          }
          dd{
            width: 100%;
            padding-left: 0;
            @include fz(14);
          }
        }
      }
    }
  }
}

.service{
  padding: 100px 0 80px;
  background: $we;
  .content{
    > div {
      display: flex;
      .serviceImg{
        max-width: 560px;
        margin-right: 84px;
      }
      .serviceLink{
        dl{
          &:first-of-type{padding-bottom: 40px;}
          dt{
            color: $n2;
            @include fz(17);
            font-weight: 500; 
            letter-spacing: .01em;
            line-height: 1.6;
            position:relative;
            margin-bottom: 15px;
            &::before{
              content: "";
              position: absolute;
              top: 0;
              left: -20px;
              width: 3px;
              height: calc(100% + 5px);
              background: $n3;
            }
          }
          dd{
            &:first-of-type{
              padding-bottom: 20px;
              @include fz(15);
              letter-spacing: .01em;
              line-height: 1.733;

            }
            &.link{
              text-align: left;
            }
          }
        }
      }
    }
  }
  @include mq(){
    padding: 50px 0;
    .content{
      > div {
        flex-direction: column;
        .serviceImg{
          max-width: none;
          margin-right: 0;
          margin-bottom: 25px;
        }
        .serviceLink{
          padding-left: 20px;
          dl{
            &:first-of-type{padding-bottom: 25px;}
            dt{
              margin-bottom: 13px;
              @include fz(17);
            }
            dd{
              &:first-of-type{
                padding-bottom: 10px;
                @include fz(14);
                line-height: 1.6;
              }
              &.link{
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}

.client{
  padding: 100px 0 102px;
  .content{
    &:first-of-type{
      margin-bottom: 84px;
    }
  }
  @include mq(){
    padding: 50px 0;
    .content{
      &:first-of-type{
        margin-bottom: 84px;
      }
    }
  }
}

.note{
  background: $we;
  padding: 80px 0 84px;
  .content{
    display: flex;
    > div{
      width: calc((100% - 80px)/2);
      margin-right: 80px;
      &:nth-of-type(2n){
        margin-right: 0;
      }
      h3{
        display: inline-block;
        padding: 0 0 0 2px;
        margin-bottom: 26px;
        @include fz(20);
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: .03em;
        border-bottom: solid 6px $yf3;
      }
      ul{
        li{
          padding-bottom: 23px;
          a{
            dl{
              display: flex;
              dt{
                width: calc(175 / 500 * 100%);
                max-width: 175px;
                min-width: 150px;
                margin-right: 15px;
              }
              dd{
                width: calc(310 / 500 * 100%);
                max-width: 310px;
                .date{
                  display: inline-block;
                  padding-bottom: 8px
                }
                p{
                  @include fz();
                  line-height: 1.6;
                }
              }
            }
          }
        }
      }
    }
  }
  @include mq(){
    padding: 50px 0 55px;
    .content{
      flex-direction: column;
      > div{
        width: 100%;
        margin-right: 0px;
        &:first-of-type{
          margin-bottom: 27px;
        }
        h3{
          margin-bottom: 25px;
          @include fz(18);
          letter-spacing: .02em;
          border-bottom: solid 5px $yf3;
        }
        ul{
          li{
            padding-bottom: 25px;
            a{
              dl{
                dt{
                  width: calc(153 / 335 * 100%);
                  max-width: 153px;
                  margin-right: 15px;
                }
                dd{
                  // width: calc(167 / 335 * 100%);
                  // max-width: 167px;
                  width: 100%;
                  max-width: none;
                  margin-top: -5px;
                  .date{
                    padding-bottom: 4px
                  }
                  p{
                    @include fz(13);
                    line-height: 1.615;
                    letter-spacing: 0.01em;
                  }
                }
              }
            }
          }
        }
        .link{display: none;}
      }
    } 
    }
}
}