@import "../setup/config.scss";

.backToTop {
	position: fixed;
	bottom: 25px;
	right: 25px;
	cursor: pointer;
	z-index: 5;
  width: 60px;
  height: 60px;
  >div{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(44, 55, 98, .9);
    transition: .3s ease;
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      top: 46%;
      left: 55%;
      width: 16px;
      height: 16px;
      border-top: solid 2px $wf;
      border-right: solid 2px $wf;
      transform: rotate(-45deg) translate(-50%, -50%);
      transition: .3s ease;
      z-index: 21;
    }
  }
  &.bottom{
    position: absolute;
    bottom: 390px;
  }
  @include mq(pc){
    &:hover{
      div{
        background: $n3;
      }
    }
  }
  @include mq(){
		width: 54px;
		height: 54px;
		right: 18px;
		top: auto;
		bottom: 20px;
    >div{
      &::after{
        top: 44%;
        width: 14px;
        height: 14px;
      }
    }
    &.bottom{
      position: absolute;
      bottom: 510px;
    }
  }
}