@import "../setup/config.scss";

.boxs{
  display: flex;
  margin-bottom: 40px;
  &.triple{
    > div {
      width: calc((100% - 52px)/ 3);
      margin-right: 26px;
      &:nth-of-type(3n){
        margin-right: 0;
      }
      
    }
  }
  .box{
    a{
      display: block;
      transition: .3s cubic-bezier(0.77,0,0.18,1);
      .imgWrap{
        margin-bottom: 10px;
        overflow: hidden;
      }
      p{
        @include fz();
        letter-spacing: .01em;
        line-height: 1.6;
      }
      @include mq(pc){
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  @include mq(){
    margin-bottom: 25px;
    flex-direction: column;
    &.triple{
      > div {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        &:last-of-type{
          margin-bottom: 0;
        }
      }
    }
    .box{
      a{
        p{
          @include fz(14);
        }
      }
    }
  }
}