@import "../setup/config.scss";

/*
  bread
---------------------------------------------- */
.bread{
  color: $c-w;
  @include fz(13);
  line-height: 2.323;
  letter-spacing: 0.08em;
  @include mq(){
    @include fz(11);
    line-height: 1.364;
  }
  ul{
    display: flex;
    align-items: center;
    li{
      position: relative;
      margin-right: 33px;
      a{
        border-bottom: 1px solid $c-w;
        padding-bottom: 2px;
        transition:.3s cubic-bezier(.36, .1, .16, 1);
        @include mq(pc){
          &:hover{
            opacity: 0.7;
          }
        }
      }
      &::after{
        content:"";
        display: block;
        position: absolute;
        top:51%;
        right: -18px;
        border-top: solid 1px $c-w;
        border-right: solid 1px $c-w;
        width: 7px;
        height: 7px;
        transform: translateY(-50%) rotate(45deg);
      }
      &:last-of-type{
        &::after{content: none;}
      }
    }
  }
}