@import "../setup/config.scss";

.date{
  color: $g8;
  @include fz(13);
  font-family: $fm;
  font-weight: 500; 
  letter-spacing: .04em;
  @include mq(){
    @include fz(12);
    line-height: 1.25;
  }
}