@import "../setup/config.scss";

.headline{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  text-align: center;
  color: $g4;
  @include fz(34);
  font-family: $fm;
  font-weight: 500; 
  letter-spacing: .06em;
  span{
    display: flex;
    align-items: center;
    height: 18px;
    margin-top: 12px;
    padding: 0 11px;
    @include fz(13);
    font-family: $fn;
    font-weight: 400;
    letter-spacing: .01em;
    background: $yf3;
  }
  @include mq(){
    margin-bottom: 40px;
    @include fz(26);
    line-height: 1.154;
    span{
      height: 17px;
      margin-top: 10px;
      padding: 0 8px;
      @include fz(11);
    }
  }
}