@import "../setup/config.scss";

.link{
  a{
    font-weight: 500; 
  }
  &.circle{
    text-align: right;
    a{
      display: inline-block;
      padding: 3px 0 6px 43px;
      color: $n3;
      @include fz(18);
      font-family: $fm;
      letter-spacing: .04em;
      position: relative;
      transition: .3s cubic-bezier(0.77,0,0.18,1);
      &::before{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 0;
        background: url('../dist/image/icon_ac01.svg') no-repeat;
        background-size: 100%;
        transition: .4s cubic-bezier(0.77,0,0.18,1);
      }
      @include mq(pc){
        &:hover{
          transform: translateX(10px);
          &::before{
            background: url('../dist/image/icon_ac02.svg') no-repeat;
            background-size: 100%;  
          }
        }
      }
    }
    &.gray{
      a{
        padding: 0 0 3px 31px;
        color: $g6;
        @include fz(16);
        &::before{
          width: 22px;
          height: 22px;
          background: url('../dist/image/icon_ac03.svg') no-repeat;
        }
        @include mq(pc){
          &:hover{
            transform: translateX(6px);
            &::before{
              background: url('../dist/image/icon_ac04.svg') no-repeat;
              background-size: 100%;  
            }
          }
        }
      }
    }
    @include mq(){
      a{
        padding: 0 0 6px 34px;
        @include fz(16);
        &::before{
          width: 24px;
          height: 24px;
        }
      }
      &.gray{
        a{
          &::before{
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  
  &.rect{
    display: flex;
    justify-content: center;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      width: 100%;
      max-width: 300px;
      color: $n2;
      @include fz(17);
      letter-spacing: .1em;
      border: solid 2px $n2;
      position: relative;
      transition: .4s cubic-bezier(0.77,0,0.18,1);
      &::before{
        content: "";
        display: block;
        width: 13px;
        height: 12px;
        position: absolute;
        top: 50%;
        right: 20px;
        background: url('../dist/image/icon_ar01.svg') no-repeat;
        background-size: 100%;
        transition: .4s cubic-bezier(0.77,0,0.18,1);
        transform: translateY(-50%);
      }
      @include mq(pc){
        &:hover{
          background: $n2;
          color: $wf;
          &::before{
            transform: translateY(-50%) translateX(5px);
            background: url('../dist/image/icon_ar02.svg') no-repeat;
            background-size: 100%;  
          }
        }
      }
    }
    &.white{
      a{
        color: $wf;
        border: solid 2px $wf;
        &::before{

          background: url('../dist/image/icon_ac03.svg') no-repeat;
          background-size: 100%;
        }
        @include mq(pc){
          &:hover{
            background: $wf;
            color: $n2;
            &::before{
              background: url('../dist/image/icon_ac04.svg') no-repeat;
              background-size: 100%;  
            }
          }
        }
      }
    }
    &.en{
      a{
        justify-content: start;
        height: 54px;
        max-width: 270px;
        padding: 0 19px 0 31px;
        @include fz(18);
        font-family: $fm;
        letter-spacing: 0.05em;
        border: solid 1px $wf;
        &::before{
          width: 12px;
          height: 12px;
          background: url('../dist/image/icon_a01.svg') no-repeat;
          background-size: 100%;
        }
        @include mq(pc){
          &:hover{
            &::before{
              background: url('../dist/image/icon_a02.svg') no-repeat;
              background-size: 100%;  
            }
          }
        }
      }
      @include mq(){
        a{
          max-width: 260px;
          padding: 0 19px 0 31px;
          &::before{
            background: url('../dist/image/icon_a01.svg') no-repeat;
            background-size: 100%;
          }
        }
      }
    }
  }
  
}