@import "../setup/config.scss";

@keyframes slideLine {
  0%   {width: 0;}
  20%  {width: 0;}
  40%  {width: calc(110 / 2360 * 100%);}
  100% {width: calc(110 / 2360 * 100%);}
}

@keyframes slideLineSp {
  0%   {width: 0;}
  20%  {width: 0;}
  40%  {width: calc(50 / 750 * 100%);}
  100% {width: calc(50 / 750 * 100%);}
}
@keyframes mvContent {
  0%  {background: $wf;}
  75%  {background: $wf;}
  90%  {background: none;}
  100% {background: none;}
}
@keyframes slideCover {
  20%  {opacity: 1;}
  0%   {opacity: 1;}
  30%  {opacity: 1;}
  75%  {opacity: 1;}
  90% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes slideCoverTxt01 {
  0%   {opacity: 1;transform: none;}
  20%  {opacity: 1;transform: none;}
  30%  {opacity: 1;transform: none;}
  75%  {opacity: 1;transform: none;}
  90% {opacity: 0; transform: translateY(-10px);}
  100% {opacity: 0; transform: translateY(-10px);}
}
@keyframes slideCoverTxt02 {
  0%   {opacity: 0; transform: translateY(10px);}
  // 20%  {opacity: 0; transform: translateY(10px);}
  20%  {opacity: 1; transform: none;}
  75%  {opacity: 1; transform: none;}
  90% {opacity: 0; transform: translateY(-10px);}
  100% {opacity: 0; transform: translateY(-10px);}
}

// @keyframes cross01 {
//   0%  {opacity:0;}
//   80% {opacity: 0;}
//   100%  {opacity:1;}
// }
// @keyframes cross02 {
//   0%  {opacity:0;}
//   70% {opacity: 0;}
//   100%  {opacity:1;}
// }
// @keyframes serviceLead {
//   0%  {opacity:0; transform: translateX(80%);}
//   100%  {opacity:1;transform: translateX(0);}
// }
// @keyframes recruitLead {
//   0%  {opacity:0; transform: translateX(-50%);}
//   100%  {opacity:1;transform: translateX(0);}
// }
// @keyframes stFadein {
//   0%  {opacity:0; transform: translateY(30px);}
//   100%  {opacity:1;transform: translateY(0);}
// }
// @keyframes worksList {
//   0%  {opacity:0; transform: translateY(30px) scale(1.03);}
//   100%  {opacity:1;transform: translateY(0) scale(1);}
// }
// @keyframes mvCatch {
//   0%  {opacity:0; transform: translateY(10px) scale(1.05);}
//   50% {opacity: 0; transform: translateY(10px) scale(1.05);}
//   100%  {opacity:1;transform: translateY(0) scale(1);}
// }
// @keyframes topWorks {
//   0%  {opacity:0; transform: translateY(100%);}
//   100%  {opacity:1;transform: translateY(0)}
// }
// @keyframes multiTtlP {
//   0%  {opacity: 0;}
//   100% {opacity: 1;}
// }
// @keyframes multiTtl {
//   0%  {transform: translateY(120%);}
//   50%  {transform: translateY(120%);}
//   100% {transform: translateY(0%);}
// }
// @keyframes navHide {
//   0%  {transform: translateY(0);}
//   100% {transform: translateY(-100px);}
// }
// @keyframes navShow {
//   0%  {transform: translateY(-100px);}
//   100% {transform: translateY(0);}
// }
// @keyframes navActive {
//   0%  {transform: translateX(100%);}
//   100% {transform: translateX(0);}
// }
// @keyframes navClose {
//   0%  {transform: translateX(0);}
//   100% {transform: translateX(100%);}
// }
// @keyframes categoryItem {
//   0%  {opacity:0; transform: scale(1.2);}
//   100% {opacity:1; transform: scale(1);}
// }
// @keyframes more {
//   0%  {opacity:0;transform: translateY(-30px);}
//   100%  {opacity:1;transform: translateY(0)}
// }
// @keyframes sk-rotate { 
//   100% { transform: rotate(360deg);}
// }
// @keyframes sk-bounce {
//   0% {transform: scale(0.4);}
//   50% { transform: scale(1.0);}
//   100% {transform: scale(0.4);} 
// }
// @keyframes popping {
//   0%  {transform: scale(1);}
//   20%  {transform: scale(0.9);}
//   60%  {transform: scale(1.16);}
//   100%  {transform: scale(1.1);}
// } 
// @keyframes scroll {
//   0% {height: 0px;}
//   100% {height: 60px;}
// }
// @keyframes fadeIn {
//   0% {opacity: 0}
//   100% {opacity: 1}
// }
// @keyframes arrowDwn {
//   0% {transform: translateY(-50%) rotate(45deg);}
//   30% {transform: translateY(0%) rotate(45deg);}
//   100% {transform: translateY(-50%) rotate(45deg);}
// }