@import "../setup/config.scss";
@import "../setup/fonts";

/*
  base
---------------------------------------------- */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  @include fz();
  line-height: 1.6;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  background: $wf4;
	@include mq(){
    @include fz(14);
  }
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
strong {
  font-weight: 700;
}
input,
textarea {
  font-family: inherit;
  font-size: 100%;
}
input, button, textarea, select {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
}
//for IE
select::-ms-expand {display: none;}
textarea{overflow: auto;}

// input type="number" 矢印削除
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
input[type="number"] { 
  -moz-appearance:textfield; 
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #eae3f6 inset;
}
p{
  @include fz();
  letter-spacing: 0.04em;
  line-height: 1.6;
  @include mq(){
    @include fz(14);
  }
}
ul,ol{
  list-style: none;
}
.inner{
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  &.w590{
    max-width: 712px;
  }
  &.w800{
    max-width: 920px;
  }
  &.w880{
    max-width: 1000px;
  }
  &.w910{
    max-width: 1030px;
  }
  &.w1080{
    max-width: 1200px;
  }
  &.w1180{
    max-width: 1300px;
  }
  &.w1600{
    max-width: 1600px;
  }
  @include mq(){
    padding: 0 20px;
  }
}

.hover{
  @include mq(pc){
    display: inline-block;
    transition: .4s ease;
    &:hover{
      opacity: 0.6;
    }
  }
}

.anime{
  opacity: 0;
  transition: .5s cubic-bezier(0.77,0,0.18,1);
  &.ty{
    transform: translateY(20px);
  }
  &.tx{
    transition: .6s cubic-bezier(0.77,0,0.18,1);
    transform: translateX(-30px);
  }
  &.animeOn{
    opacity: 1;
    &.ty,
    &.tx{
      transform: none;
    }
  }
}

.pc{
  display: block;
}
.sp{
  display: none;
}
@include mq(){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }
}