@import "../setup/config.scss";

.deSign{
  background: $gc;
  > div{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 77px;
    a,span{
      display: flex;
      align-self: center;
    }
    a{
      width: 142px;
      margin-right: 32px;
      align-items: flex-start;
      @include mq(pc){
        transition: .4s ease;
        &:hover{
          opacity: .6;
        }
      }
    }
    span{
      @include fz();
      line-height: 1.6;
    }
  }
  @include mq(){
    > div{
      flex-direction: column;
      height: 89px;
      padding: 10px 0 15px;
      a,span{
        display: flex;
        align-self: center;
      }
      a{
        width: 130px;
        margin-right: 0;
      }
      span{
        margin-top: -3px;
        @include fz(14);
        line-height: 1.714;
        letter-spacing: .01em;
      }
    }
  }
}
footer.footer{
  padding: 50px 0;
  background: $n28;
  color: $wf;
  .content{
    position: relative;
    .logo{
      display: block;
      width: 98px;
      margin-bottom: 30px;
    }
    .info{
      display: flex;
      justify-content: space-between;
      > div{
        &:first-of-type{
          b{
            display: block;
            @include fz();
            font-weight: 600;
            letter-spacing: 0.02em;
            line-height: 1.667;
            margin-bottom: 11px;
          }
          div{
            @include fz();
            letter-spacing: 0.01em;
            line-height: 1.733;
            .hover{
              text-decoration: underline;
            }
          }
        }
        &:last-of-type{
          .note{
            display: block;
            position: relative;
            width: 50px;
            padding-bottom: 5px;
            margin-left: auto;
            @include fz(13);
            letter-spacing: 0;
            line-height: 2.077;
            text-align: right;
            cursor: pointer;
            &::before{
              content: "";
              width: 12px;
              height: 13.5px;
              position: absolute;
              top: 7px;
              left: 0;
              background: url('../dist/image/icon_note.svg') no-repeat;
              background-size: 100%;
            }
          }
          .policy{
            text-align: right;
            padding-bottom: 15px;
            a{
              @include fz(13);
              letter-spacing: 0;
              line-height: 2.077;
            }
          }
          // ul{
          //   display: flex;
          //   align-items: center;
          //   padding-bottom: 15px;
          //   li{
          //     a{
          //       @include fz(13);
          //       letter-spacing: 0;
          //       line-height: 2.077;
          //     }
          //     &:first-of-type{
          //       margin-right: 26px;
          //       position: relative;
          //       &::after{
          //         content: "|";
          //         position: absolute;
          //         top: 50%;
          //         right: -16px;
          //         @include fz(13);
          //         transform: translateY(-50%);
          //       }
          //     }
          //   }
          // }
          .link.rect{
            justify-content: start;
            margin-bottom: 9px;
          }
          > p{
            @include fz(12);
            letter-spacing: 0.01em;
            line-height: 1.5;
            text-align: right;
          }
        }
      }
    }
    .copy{
      position: absolute;
      bottom: -5px;
      left: 60px;
      @include fz(13);
      letter-spacing: 0.01em;
      line-height: 2.077;
    }
  }
  @include mq(){
    padding: 30px 0 75px;
    .content{
      .logo{
        width: 70px;
        margin-bottom: 18px;
      }
      .info{
        flex-direction: column;
        > div{
          &:first-of-type{
            margin-bottom: 25px;
            b{
              @include fz(14);
              line-height: 1.786;
              margin-bottom: 5px;
            }
            div{
              @include fz(13);
              letter-spacing: 0.01em;
              line-height: 1.723;
            }
          }
          &:last-of-type{
            .note{
              padding-bottom: 8px;
              margin-left: 0;
              @include fz(13);
            }
            .policy{
              text-align: left;
            }
            > p{
              text-align: left;
            }
          }
        }
      }
      .copy{
        bottom: -65px;
        left: auto;
        right: 20px;
        @include fz(10);
        letter-spacing: 0.02em;
        line-height: 2.7;
      }
    }
  }
}