@import "../setup/config.scss";

header.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 20px;
    background: $wf4;
    height: 70px;
    > div{
      a{
        display: block;
        width: 80px;
      }
    }
    nav{
      > ul{
        display: flex;
        li{
          a{
            padding: 10px 20px 8px;
            @include fz();
            line-height: 2.133;
            letter-spacing: 0.02em;
            color: $g5;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              left: 20px;
              bottom: 0;
              height: 3px;
              width: 0;
              background: $yf2;
              transition: .3s cubic-bezier(0.77,0,0.18,1);
            }
            @include mq(pc){
              &:hover{
                &::after{
                  width: calc(100% - 40px);
                }
              }
            }
          }
          &.hasSub{
            cursor: pointer;
            &.blog{
              > a{
                margin-left: 20px;
              }
              ul{
                left: 30px;
              }
            }
            position: relative;
            > a{
              pointer-events: none;
              &::before{
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 50%;
                right: 2px;
                background: url('../dist/image/icon_a03.svg') no-repeat;
                background-size: 100%;
                transform: translateY(-50%);
              }
              @include mq(pc){
                &:hover{
                  &::after{
                    width: calc(100% - 20px);
                  }
                }
              }
            }
            ul{
              // display: none;
              padding: 9px 0;
              position: absolute;
              top: 34px;
              left: 0;
              z-index: -1;
              background: $wf4;
              opacity: 0;
              transform: translateY(-20px);
              transition: .4s cubic-bezier(0.77,0,0.18,1);
              li{
                a{
                  display: inline-block;
                  padding: 0px 16px;
                  line-height: 1.933;
                  word-break: keep-all;
                  pointer-events: none;
                  &::after{
                    left: 16px;
                  }
                  @include mq(pc){
                    &:hover{
                      &::after{
                        width: calc(100% - 32px);
                      }
                    }
                  }
                }
              }
            }
            &.on{
              > a{
                @include mq(pc){
                  &::after{
                    width: calc(100% - 20px);
                  }
                }
              }
              ul{
                opacity: 1;
                transform: translateY(0);
                li a{
                  pointer-events: visible;
                }
              }
            }
          }
        }
      }
    }
  }
  @include mq(lg){
    .content{
      nav > ul li a{
        padding: 10px 12px 8px;
        @include fz(13);
        &::after{
          left: 12px;
        }
        @include mq(pc){
          &:hover{
            &::after{
              width: calc(100% - 24px);
            }
          }
        }
      }
    }
  }
  @include mq(){
    .content{
      padding: 0 0 0 15px;
      height: 60px;
      transition: .4s cubic-bezier(0.77,0,0.18,1);
      &.open{
        background: $n2;
        .hm{
          span{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:nth-of-type(1){
              top: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-of-type(2){
              width: 0;
            }
            &:nth-of-type(3){
              top: 50%;
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
        nav{
          pointer-events: visible;
          opacity: 1;
          transform: none;
        }
      }
      > div a{ width: 56px;}
      .hm{
        width: 60px;
        height: 60px;
        background: $n2;
        position: relative;
        cursor: pointer;
        z-index: 10;
        span{
          display: block;
          width: 30px;
          height: 1px;
          background: $wf;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: .3s cubic-bezier(0.77,0,0.18,1);
          &:nth-of-type(1){
            top: calc(50% + 9px);
          }
          &:nth-of-type(2){
            transition: .6s cubic-bezier(0.77,0,0.18,1);
          }
          &:nth-of-type(3){
            top: calc(50% - 9px);
          }
        }
      }
      nav{
        pointer-events: none;
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        background: $n2;
        padding: 20px 0 157px;
        transform: translateY(-10%);
        transition: .5s cubic-bezier(0.77,0,0.18,1);
        .logo{
          padding-left: 15px;
          a {
            display: block;
            width: 56px;
          }
        }
        > ul{
          flex-direction: column;
          padding: 47px 50px 0;
          li{
            padding-bottom: 15px;
            a{
              padding: 5px 10px;
              @include fz(18);
              line-height: 1.778;
              letter-spacing: 0.02em;
              color: $wf;
              position: relative;
              &::after{
                content: "";
                position: absolute;
                left: 20px;
                bottom: 0;
                height: 3px;
                width: 0;
                background: $yf2;
                transition: .3s cubic-bezier(0.77,0,0.18,1);
              }
              @include mq(pc){
                &:hover{
                  &::after{
                    width: calc(100% - 40px);
                  }
                }
              }
            }
            &.hasSub{
              &.blog{
                > a{
                  margin-left: 0;
                }
                ul{
                  left: 0;
                }
              }
              > a{
                &::before{
                  width: 13px;
                  height: 13px;
                  right: -10px;
                  background: url('../dist/image/icon_a04.svg') no-repeat;
                }
              }
              ul{
                height: 0;
                padding: 13px 0 3px;
                background: $n2;
                transform: translateY(-10px);
                li{
                  a{
                    @include fz(16);
                    padding: 0px 16px 0 30px;
                  }
                  &:last-of-type{
                    padding-bottom: 0;
                  }
                }
              }
              &.on{
                > a{
                  &::before{
                    transform: translateY(-10%) rotate(180deg);
                  }
                }
                ul{
                  height: auto;
                  position: static;
                }
              }
            }
          }
        }
      }
    }
  }
}