// font-family
$fn: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', sans-serif;
$fm: 'Montserrat', 'Hiragino Kaku Gothic Pro', sans-serif;

// font-size
@mixin fz($size: 15) {
  font-size: $size + px;
  font-size: calc($size / 16) + rem;
}

// color
$n2: #2c3762;
$n3: #3a4881;
$n28: #282C3E;

$g4: #444444;
$g5: #555555;
$g6: #666666;
$g8: #888888;
$gc: #cbcbcb;

$b0: #000000;
$b2: #2C2C2C;
$b3: #333333;

$yf: #ffe300; //MV line
$yf1:#fee61f; //MV number 不要かも
$yf2:#ffe945; //nav line
$yf3: #ffec5c; //head line

$wf: #ffffff;
$we: #efede9;
$wf4: #f4f3f0;

// media query
$breakpoints: (
  'sm': 'screen and (max-width:360px)',
  'md': 'screen and (max-width:767px)',
  'lg': 'screen and (max-width:950px)',
  'pc': 'screen and (min-width:768px)',
) !default;
@mixin mq($breakpoint: md){
  @media #{map-get($breakpoints, $breakpoint)}{
    @content;
  }
}